body {
    background-image: url("../images/gravel.png");
}

.header {
    background-color: white;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 30px;
    padding: 20px;
}